<h1>Редактирование комментария</h1>
{{#with comment}}
<form method="post" action="/comments/edit" enctype="multipart/form-data"><!--//**-->
	
	
  <div class="mb-3">
    <label for="descriptionInput" class="form-label">Комментарий</label>
    <textarea class="form-control" name="message" id="descriptionInput" rows="3" value="Добавленная новость">{{this.message}}</textarea>
  </div>
  <!--<div class="mb-3">
    <label for="authorInput" class="form-label">Автор</label>
    <input class="form-control" name="author" id="authorInput" value="Петр">
  </div>
  
  <div class="form-group">
    <label for="avatar">Аватар</label>
    <input type="file" class="form-control" id="avatar" name="avatar" >
  </div>-->
  <div class="mb-3" style="display: none;">
    <label for="idInput" class="form-label">idNews</label>
    <input class="form-control" name="idComment" id="idInput" value="{{this.id}}">
    <input class="form-control" name="newsId" id="idInput" value="{{this.newsId}}">	
  </div>
<!--  <input type="submit" value="Создать">-->
  <button type="button" class="btn btn-primary" onclick='sendForm()'>Отправить</button>
</form>
{{/with}}



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
 var id1 = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&')[0];
 //var idComment = wimdow
    //console.log('hashes', id1)
  function sendForm() {
    var data = new FormData($('form')[0]);
    var id = data.get('idComment');
    let idnew = data.get('newsId');
    console.log('idNews ', idnew);
      const formDataObj = {};
      data.forEach((value, key) => (formDataObj[key] = value));
      //console.log(JSON.stringify(formDataObj));
    $.ajax({
      url: `/comments/edit`,
      //url: `${id1}`,
      data: JSON.stringify(formDataObj),
      cache: false,
      contentType: 'application/json; charset=UTF-8',
      processData: false,
      method: 'POST',
      success: function() {
        alert('Комментарий отредактирован')
        window.location.href = `/comments/api/details/${idnew}`;//**
      }
    });
  }
</script>
